/* Global */
* {
  box-sizing: border-box;
}

:root {
  --black: #070707;
  --medium: Gil-medium;
  --bold: Gil-bold;
}

/* Header */
.header {
  padding-bottom: 102px;
  padding-top: 33px;
}
.header__container {
  max-width: 944px;
  margin: 0 auto;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}
.header__nav-link {
  font-family: var(--bold);
  font-size: 18px;
  color: #828282;
  text-decoration: none;
  cursor: pointer;
}
.header__nav-link:hover {
  color: var(--black);
}
.header__line {
  margin-bottom: 25px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}
.header__content-title {
  font-family: var(--bold);
  font-size: 47px;
  color: var(--black);
  max-width: 124px;
  line-height: 130%;
}
.header__content-txt {
  font-family: var(--medium);
  font-size: 18px;
  color: var(--black);
  margin-top: 64px;
  line-height: 120%;
  margin-left: 16px;
}
.header__content-lang {
  transform: rotate(270deg);
  padding-top: 87px;
  padding-right: 26px;
  font-family: var(--bold);
  font-size: 16px;
  color: #000;
}
.header__content-lang_passive {
  color: #828282;
  cursor: pointer;
  text-decoration: none;
}
.header-photo {
}

/* About */
.about {
  padding-top: 118px;
  padding-bottom: 111px;
  background: #f6f6f6;
  text-align: center;
}
.about-title {
  font-family: var(--bold);
  font-size: 34px;
  text-align: center;
  color: var(--black);
  margin-bottom: 26px;
}
.about-txt {
  font-family: var(--medium);
  font-size: 18px;
  text-align: center;
  color: var(--black);
  max-width: 450px;
  margin: 0 auto 44px;
  line-height: 120%;
}
.about-txt:last-child {
  margin-bottom: 0;
}

/* Skills */
.skills {
  padding-top: 88px;
  padding-bottom: 107px;
}
.skills-title {
  font-family: var(--bold);
  font-size: 34px;
  text-align: center;
  color: var(--black);
  margin-bottom: 63px;
}
.skills-subtitle {
  font-family: var(--medium);
  font-size: 18px;
  text-align: center;
  color: var(--black);
  margin-bottom: 89px;
}
.skills__box {
  display: grid;
  grid-template-columns: repeat(4, 167px);
  gap: 90px;
  justify-content: center;
}
.skills__item {
  text-align: center;
}
.skills__item-img {
  margin-bottom: 22px;
}
.skills__item-name {
  font-family: var(--bold);
  font-size: 14px;
  text-align: center;
  color: #828282;
  margin-bottom: 38px;
}
.skills__item-name_smoll {
  margin-bottom: 51px;
}
.skills__item-stars {
}

/* Portfolio */
.portfolio {
  background: #f6f6f6;
  padding-top: 112px;
  padding-bottom: 9px;
}
.portfolio__container {
  width: 937px;
  margin: 0 auto;
}
.portfolio-title {
  font-family: var(--bold);
  font-size: 34px;
  text-align: center;
  color: var(--black);
  margin-bottom: 57px;
}
.portfolio__item {
  margin-bottom: 99px;
}
.portfolio__item-img {
  margin-bottom: 43px;
}
.portfolio__item-name {
  font-family: var(--medium);
  font-size: 18px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: var(--black);
}